<% content_for :title, "Habitaciones - Rubies" %>
<%= stylesheet_link_tag "bedrooms/index" %>

<h1 class='title'>
    <span>Elige tu Habitacion</span>
</h1>
<sub>Disfruta de una experiencia agradable y acogedora en el confort y la comodidad de nuestras habitaciones.</sub>
<% content_for :title, "Habitaciones - Rubies" %>
<%= stylesheet_link_tag "bedrooms/index" %>

<div class='bedroomsList'>
    <% @bedrooms.each do |bedroom| %>
        <div class='bedroomContainer'>
            <div class='imageBedroom'>
                <%= image_tag bedroom.image.url, class: "doble_deluxe.jpg" %> <!-- Mostrar imagen -->
            </div>
            <div class='viewInfo'>
                <div class='bedBedroom'>
                    <span class='beds'>Camas: <%= bedroom.beds %></span>
                </div>
                <div class='titleBedroom'>
                    <%= link_to bedroom_path(bedroom.id) do %>
                        <h2><%= bedroom.title %></h2>
                    <% end %>
                </div>
                <div class='bed_description'>
                    <p><%= bedroom.description %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
