<% content_for :title, "Reservaciones - Rubies" %>
<%= stylesheet_link_tag "reservations/index.css" %> 
<%= javascript_include_tag 'application', 'controllers/reservations/new_fechas' %>
<%= javascript_include_tag 'application', 'controllers/reservations/fechas_no_escritas' %>

<div class ="super_body" style="aling-items: center; display: block">
<div class='encabezadoReserva'>
    <h2>
        <span>RESERVA ONLINE</span>
    </h2>
    <%= form_tag("/reservas", method: "get") do %>
        <div class="fecha">
            <label for="fecha_entrada" style="color: #ffeadb">Fecha de entrada:</label>
            <input type="date" id="fecha_entrada" name="fecha_entrada" min="<%= Date.today.to_s %>" required>
        </div>
        <div class="fecha">
            <label for="fecha_salida" style="color: #ffeadb">Fecha de salida:</label>
            <input type="date" id="fecha_salida" name="fecha_salida" required>
        </div>
        <div class="boton_buscar">
            <input type="submit" value="Buscar">
        </div>
    <% end %>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
  const fechaEntradaInput = document.getElementById('fecha_entrada');
  const fechaSalidaInput = document.getElementById('fecha_salida');

  // Agrega evento de entrada al campo de entrada
  fechaEntradaInput.addEventListener('input', function() {
    // Calcula la fecha mínima como la fecha de entrada más un día
    const fechaMinima = new Date(fechaEntradaInput.value);
    fechaMinima.setDate(fechaMinima.getDate() + 1);

    // Formatea la fecha mínima en el formato adecuado para el atributo min del input date
    const fechaMinimaFormateada = fechaMinima.toISOString().split('T')[0];

    // Establece la fecha mínima en el campo de salida
    fechaSalidaInput.min = fechaMinimaFormateada;
    });
    });
</script>

</div>


<div class='wrapper_body'>
    <div class='container'>
        <div class='bedroomsList'>
            <% @available_categories.each do |category_bedroom| %>
            <div class='bedroom'>
                <div class="padding" style="padding: 10px">
                    <div class='info-bedroom'>
                        <div class='imageBedroom'>
                        <%= image_tag category_bedroom.image, class: "image" %>
                        </div>
                        <div class='caracteristicas'>
                            <div class='titulos'>
                                <h2><%= category_bedroom.title %></h2>
                                <p>Camas: <%= category_bedroom.beds %></p>
                            </div>  
                        </div>
                    </div>
                    <table class='b-1-s m-t-1 w-100' cellpadding='15'>
                        <div class='tbody'>
                            <tbody>
                                <% prices_for_category_bedroom = CategoryPrice.where(category_bedroom_id: category_bedroom.category_bedroom_id) %>
                                <% prices_for_category_bedroom.each do |precio| %>
                                <tr class="c_opcion" style="display: block">
                                <div class="div_opcion">
                                        <td class="rowspanTd" colspan='2' rowspan='4'>
                                            <strong class='titulo_estandar'> Tarifa estandar </strong>
                                        </td>
                                        <td class='tds'>
                                            <div>Ocupacion</div>
                                            <div class="personas" style="color: #111111; font-weight: bold"><%= precio.ocupacion %> personas</div>
                                        </td>
                                        <td class='tds'>
                                            <div>
                                                Antes: <span> <%= category_bedroom.priceNight * @duracion_estadia %></span>
                                            </div>
                                            <div style="color: #27ae60">Ahorra un 50 %</div>
                                        </td>
                                        <td class='tds'>
                                            <div style="color: #27ae60">S/. <%= category_bedroom.priceNight * precio.descuento_web * @duracion_estadia %> </div>
                                            <div style="color: #1c699b"> Precio <%= @duracion_estadia %> noches</div>
                                        </td>
                                        <td class='tds'>
                                            <div class="reservar" style="background-color: #27ae60">   
                                                <a class='boton' style="color: white" href="<%= new_reservation_path(category_bedroom_id: category_bedroom.category_bedroom_id, 
                                                fecha_entrada: params[:fecha_entrada], fecha_salida: params[:fecha_salida], noches: @duracion_estadia, ocupacion: precio.ocupacion, category_price_id: precio.category_price_id)%>">
                                                Reservar</a>
                                            </div>
                                        </td>
                                    
                                </div>
                                </tr>
                                <% end %> 
                            </tbody>                   
                        </div>
                    </table>
                </div>
            </div>
            <% end %>  
        </div>
    </div>
</div>        
</div>
