
<div class='container'>
    <div class='habitacion'>
        <div class='image_bedroom'>
            <%= image_tag @category_bedroom.image, class: "image" %>
        </div>
        <div class='caracteristicas'>
            <div class='_caracteristicas'>
                <h1><%= @category_bedroom.title %></h1>
                <span>Entrada: </span>
                <span>Salida: </span>
                <span>Oferta: Tarifa Estandar</span>
                <span>Ocupacion: </span>
            </div>
        </div>    
    </div>
    <div class='formulario_huesped'>
        <div class='condiciones reservas'>
        </div>

        <div claa='guia'>
            <h2>Datos del cliente</h2>
        </div>
        <div class='subtitulo_guia'>Introduce los siguientes datos para continuar con la reserva</div>

        <div class="model">
            <%= form_with model: @reservation do |reservation_form| %>
                <!-- Campos de Resident -->
                <%= reservation_form.fields_for :resident do |resident_fields| %>
                    <div class="campo">
                        <%= resident_fields.label :name %>
                        <%= resident_fields.text_field :name %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :lastnamePaternal %>
                        <%= resident_fields.text_field :lastnamePaternal %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :lastnameMaternal %>
                        <%= resident_fields.text_field :lastnameMaternal %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :dni %>
                        <%= resident_fields.text_field :dni %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :phone %>
                        <%= resident_fields.text_field :phone %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :location %>
                        <%= resident_fields.text_field :location %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :birthday %>
                        <%= resident_fields.text_field :birthday %>
                    </div>
                    <div class="campo">
                        <%= resident_fields.label :nationality %>
                        <%= resident_fields.text_field :nationality %>
                    </div>  
                    <div class="campo">
                        <%= resident_fields.label :email %>
                        <%= resident_fields.email_field :email %>
                    </div>
                <% end %>
                <!-- Agrega más campos según sea necesario -->
                <div class="acciones">
                    <%= reservation_form.submit "Guardar" %>
                </div>
            <% end %>
        </div>
    </div>
</div>